@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: Raleway-ExtraBold;
  src: url(./fonts/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(./fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway-SemiBold;
  src: url(./fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: Raleway-Bold;
  src: url(./fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway-Medium;
  src: url(./fonts/Raleway-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #FFFFFF;
}
.page-wrapper {
  max-width: 1600px;

  margin: 0 auto;
}

/*====================== HEADER ======================*/

header {
  background-image: url(images/background/BG.png);
  background-size: contain;
  background-repeat: no-repeat;
  /*создание пропорционального изменения высоты и ширины*/
  width: 100%;
  position: relative;
  padding-top: 46.875%;
}
.wrapper-header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*конец создания пропорционального изменения высоты и ширины https://denis-creative.com/sohranyaem-proportsii-vysoty-i-shiriny-elementa-pri-izmenenii-shiriny-kontenta-na-chistom-css/ */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  padding-top: 3%;
}
nav ul {
  display: inline-flex;
  align-items: center;
  width: 445px;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  user-select: none;
  color: white;
  font-family: "Raleway-SemiBold";
  transition: 0.3s;
}
nav ul li a:hover {
  color: black;
  transition: 0.3s;
}
nav form {
  display: flex;
  align-items: center;
}
nav form button {
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 1px;
  color: white;
  font-family: "Raleway-Regular";
  transition: 0.3s;
  cursor: pointer;
}
nav form button:hover {
  border-color: black;
  color: black;
  transition: 0.3s;
}
.mid_header {
  display: flex;
  justify-content: space-between;
  margin: 9.38% 5% 0 5%;
  height: 42%;
}
.mid_header_left {
  width: 35.25%;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mid_header_right {
  width: 37.50%;
}
.mid_header_left h3 {
  font-family: "Raleway-ExtraBold";
  font-size: 3vw;
  text-transform: uppercase;
  user-select: none;
}
.mid_header_left p {
  font-family: "Raleway-Regular";
  font-size: 0.9vw;
}
.button_link {
  height: 17.46%;
}
.mid_header_left a {
  display: inline-flex;
  width: 26.61%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  border-radius: 0.5vw;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 1vw;
  background: #061E37;
  box-shadow: 0 2px 2px 0 rgba(0 0 0 0.5);
}
.mid_header_left a+a {
  color: #061E37;
  background: #FFFFFF;
  margin-left: 5.6%;
}
.mid_header_right iframe {
  max-width: 100%;
  max-height: 100%;
}

/*====================== EASY AND USEFUL ======================*/

.easy_and_useful {
  width: 1440px;
  position: relative;
  margin: 0 auto;
}

.easy_and_useful::before {
  content: "";
  display: block;
  padding-top: 55.55555%;
}
.eau_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.eau_content {
  width: 100%;
  display: flex;
}
.eau_top {
  width: 38.54166667%;
  height: 20%;
  margin: 6.95% auto 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway-SemiBold";
}
.eau_top h3 {
  font-size: 2.5vw;
}
.eau_top h4 {
  font-size: 1.4vw;
  color: #B0BEC5;
}
.eau_top p {
  color: #B0BEC5;
  font-size: 1vw;
  text-align: center;
  font-family: "Raleway-Regular";
}
.eau_middle {
  width: 100%;
  height: 25%;
  margin-top: 6.6%;
  display: flex;
  justify-content: space-between;
}
.middle_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24.3%;
  justify-content: space-between;
}
.middle_content p {
  font-family: "Raleway-SemiBold";
  font-size: 1.2vw;
}
.middle_content p+p {
  font-family: "Raleway-Regular";
  font-size: 0.8vw;
  text-align: center;
  color: #B0BEC5;
}
.middle_content_image {
  width: 20%;
}
.middle_content_image img {
  max-width: 100%;
}
.eau_bot {
  justify-content: center;
  height: 6.9%;
  align-items: center;
  margin-top: 5.5%;
}
.eau_bot a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  height: 100%;
  width: 10.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1DE9B6;
  font-family: "Raleway-Bold";
  font-size: 1vw;
  border-radius: 0.2vw;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.5);
}

/*====================== COUNTS ======================*/

.counts {
  width: 100%;
  position: relative;
  padding-top: 9.375%;
}
.counts_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}
.counts_content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
.counts_content_img {
  width: 15%;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counts_content_img img {
  max-width: 100%;
}
.counts_content p {
  font-family: "Raleway-ExtraBold";
  color: white;
  font-size: 1.3vw;
  margin-left: 7%;
  transition: 0.5s;
}
.business {
  background: #80D8FF;
}
.downloads {
  background: #82B1FF;
}
.free_installs {
  background: #B388FF;
}
.pro_user {
  background: #EA80FC;
}
.counts_content:hover {
  filter: grayscale(50%);
  transition: 0.5s;
}
.counts_content:hover .counts_content_img {
  transform: scale(1.3);
  transition: 0.5s linear;
  margin-right: 10%;
}
.counts_content:hover p {
  transform: scale(1.3);
  transition: 0.5s linear;
}

/*====================== SERVICES ======================*/

.services {
  width: 800px;

  margin: 0 auto;
}
.services_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_wrapper h3 {
  margin-top: 12.5%;
  font-family: "Raleway-SemiBold";
  font-size: 35pt;
}
.services_wrapper>p {
  margin-top: 3.75%;
  width: 70%;
  text-align: center;
  line-height: 15pt;
  font-family: "Raleway-Regular";
  color: #B0BEC5;
  font-size: 10pt;
}
.services_wrapper details {
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  margin-top: 6.25%;
  box-shadow: 0 0 0.2vw 0.02vw rgba(0, 0, 0, 0.5);
  border-radius: 0.2vw;
}
.services_wrapper details+details {
  margin-top: 2.5%;
}
summary {
  display: flex;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  padding: 2.5% 3.125%;
}
summary:focus {
  outline: none;
}
.summary_image {
  width: 2.7%;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary_image img {
  max-width: 100%;
}
.summary_arrow {
  margin-left: auto;
  width: 1.5%;
}
.summary_arrow img {
  max-width: 100%;
}
.services_wrapper details summary::-webkit-details-marker {
  display: none;
}
.services_wrapper summary span {
  font-family: "Raleway-Bold";
  text-transform: uppercase;
  font-size: 11pt;
  margin-left: 3.75%;
}
.details_items {
  display: flex;
  margin: 0 3.125% 3.125% 3.125%;
}
.details_image {
  width: 90%;
}
.details_image img {
  max-width: 100%;
}
.details_text p {
  margin-top: 0;
  margin-left: 3.125%;
  font-family: "Raleway-Regular";
  font-size: 0.9vw;
  line-height: 1.3vw;
}
.details_text p+p {
  margin-top: 8%;
}

/*====================== TESTIMONIALS ======================*/

.testimonials {
  width: 100%;
  position: relative;
  padding-top: 35.3125%;
  margin-top: 6.25%;

}
.testimonials_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.testimonials_wrapper>img {
  max-width: 100%;
  animation: scale 8s infinite alternate;
  z-index: 0;
  position: absolute;
}
@keyframes scale {
  0%   {transform: scale(1);}
  100% {transform: scale(2);}
}
.testimonials_content {
  width: 90%;
  height: 100%;

  z-index: 100;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.testimonials_item:first-child {
  height: 51.32%;
  width: 35.76%;
}
.testimonials_item:last-child {
  width: 52.78%;
  height: 85.84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.testimonials_item_text {
  font-family: "Raleway-SemiBold";
  color: white;
  font-size: 0.9vw;
}
.testimonials_item_text h3 {
  font-size: 2.6vw;
}
.testimonials_item_text p {
  margin-top: 3%;
  line-height: 1.3vw;
}
#get_started {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway-Bold";
  font-size: 1vw;
  background: #061E37;
  color: white;
  padding: 1vw;
  border-radius: 0.3vw;
}
.testimonials_item_people {
  display: flex;
  justify-content: space-between;
}
.testimonials_item_people_avatar {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials_item_people_about {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 4.6%;
  margin-left: 6.6%;
  border-radius: 0.45vw;
}
.testimonials_item_people_about h3 {
  font-family: "Raleway-Bold";
  font-size: 1.3vw;
}
.testimonials_item_people_about p {
  font-family: "Raleway-Regular";
  color: #78909C;
  font-style: italic;
  font-size: 0.8vw;
  margin-top: 3%;
}

/*====================== TEAM ======================*/

.team {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.team::before {
  content: "";
  display: block;
  padding-top: 52.78%;
}
.team_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_wrapper>h3 {
  margin-top: 6.95%;
  font-family: "Raleway-SemiBold";
  font-size: 3vw;
}
.team_wrapper>p {
  width: 38.9%;
  font-family: "Raleway-Regular";
  font-size: 0.9vw;
  text-align: center;
  margin-top: 2%;
  line-height: 1.4vw;
  color: #90A4AE;
}
.team_wrapper_avatars {
  display: flex;
  align-items: flex-start;
  width: 44.8%;
  height: 45.4%;
  margin-top: 5.55%;
}
.form_radio_avatars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.form_radio_avatars input[type=radio] {
  display: none;
}
.form_radio_avatars label {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form_radio_avatars label img {
  max-width: 100%;
  object-fit: cover;
  width: 90%;
}
.avatar_1 label {
  width: 74%;
  margin-left: 50%;
}
.avatar_3 label {
  width: 86%;
  margin-right: 45%;
}
.content_avatars {
  position: relative;
  top: 100%;
  width: 300%;
  visibility: hidden;
  text-align: center;
  overflow: visible;
  margin-top: 20%;
}
.content_avatars h3 {
  font-family: "Raleway-Bold";
  font-size: 1vw;
}
.content_avatars p {
  font-family: "Raleway-Regular";
  font-size: 0.8vw;
  margin-top: 1.4%;
  line-height: 1.1vw;
  color: #90A4AE;
}
.form_radio_avatars:nth-child(odd)>.content_avatars {
  top: 150%;
  left: 90%;
  width: 300%;
}
.form_radio_avatars:nth-child(3)>.content_avatars {
  left: -110%;
}
.form_radio_avatars input[type=radio]:checked~.content_avatars {
  visibility: visible;
}
.form_radio_avatars input[type=radio]:not(:checked)+label {
  width: 50%;
  margin-top: 12.5%;
}
.avatar_1 input[type=radio]:not(:checked)+label {
  width: 44%;
}
.team_links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  width: 13.9%;
  height: 2.63%;
}
.links_container {
  width: 100%;
  text-align: center;
}
.links_container:nth-child(2) {
  width: 50%;
}
.team_links a img {
  max-width: 100%;
  width: 50%;
  object-fit: contain;
}

/*====================== CONTACT US ======================*/

.contact_us {
  width: 100%;
  padding-top: 41.25%;
  position: relative;
}
.contact_us_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FAFAFA;
}
.contact_us_wrapper h3 {
  text-align: center;
  margin-top: 3.47%;
  font-family: "Raleway-SemiBold";
  font-size: 3vw;
}
.contact_us_wrapper p {
  margin: 1.875% auto 0 auto;
  font-family: "Raleway-Regular";
  font-size: 0.8vw;
  line-height: 1.3vw;
  text-align: center;
  width: 35%;
}
.contact_us_form {
  width: 37.5%;
  height: 54.55%;
  margin: 3.82% auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 3.666667% 6.666667%;
  grid-auto-flow: row;
}
.contact_us_form input, .contact_us_form button, .contact_us_form textarea {
  box-sizing: border-box;
  border-radius: 0.4vw;
  border: 1px solid black;
}
 .contact_us_form input, textarea {
  font-family: "Raleway-Medium";
  padding-left: 7.14%;
  font-size: 0.8vw;
}
.contact_us_form input:focus, .contact_us_form textarea:focus {
  outline: none;
}
.contact_us_form input:focus::placeholder, .contact_us_form textarea:focus::placeholder {
  color: transparent;
}
.contact_us_form textarea {
  grid-column: 1/3;
  grid-row: 3/5;
  padding: 3.3333% 0 0 3.3333% ;
  resize: none;
}
.contact_us_form *::placeholder {
  color: black;
}
.contact_us_subscribe {
  align-self: center;
  display: block;
  width: 100%;
  user-select: none;
  font-family: "Raleway-Medium";
  font-size: 0.8vw;
  cursor: pointer;
  position: relative;
}
.contact_us_subscribe input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;  background: green;
  height: 0;
  display: block;
}
.contact_us_subscribe span {
  margin-left: 15%;
}
.contact_us_subscribe span::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 300%;
  position: absolute;
  right: 90.5%;
  top: -70%;
  z-index: 100;
  background-image: url(./images/icon/checkbox.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 129%;
}
.contact_us_subscribe input[type=checkbox]:checked+span::before {
  background-position-x: -29%;
  right: 50.5%;
}
.contact_us_form button {
  height: 100%;
  width: 50%;
  justify-self: end;
  border: none;
  text-transform: uppercase;
  font-family: "Raleway-Medium";
  font-size: 0.9vw;
  background: #1DE9B6;
  color: white;
  cursor: pointer;
}
.contact_us_form button:hover {
  box-shadow: 0 0 5px 0 black;
}
.contact_us_form button:active {
  outline: none;
  box-shadow: inset 0 0 2px 0.5px black;
  color: black;
}
.contact_us_form button:focus {
  outline: none;
}

/*====================== FOOTER ======================*/

footer {
  background: #061E37;
  width: 100%;
  padding-top: 18.75%;
  position: relative;
}
.footer_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bot_header {
  padding: 0;
}
.bot_middle {
  display: flex;
  justify-content: space-between;
  margin: 5% 5% 0 5%;
}
.bot_links {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bot_links a {
  text-decoration: none;
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #A5A9AE;
}
.bot_links p {
  color: white;
  font-size: 14px;
}
.bot_links_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.bot_links_images_container a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.bot_links_images_container img {
  max-width: 100%;
  height: 100%;
}
.bot_header ul li a:hover {
  color: #1DE9B6;
}

/*====================== ADAPTIVE ======================*/

@media (max-width: 1455px) {
  .easy_and_useful {
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .services_wrapper h3 {
    margin-top: 8.5%;
  }
}
@media (max-width: 1025px) {
  .eau_top {
    width: 50%;
    margin-top: 4.5%;
  }
  .eau_top h3 {
    font-size: 4vw;
  }
  .eau_top h4 {
    font-size: 1.8vw;
    margin-top: 2.5%;
  }
  .eau_top p {
    font-size: 1.4vw;
    margin-top: 2%;
  }
  .eau_middle {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
  }
  .button_link {
    height: 20%;
    display: flex;
    justify-content: space-between;
  }
  .button_link a {
    width: 45%;
    margin-left: 0;
    font-size: 1.3vw;
  }
  .mid_header {
    height: 60%;
  }
  .mid_header_right, .mid_header_left {
    width: 45%;
  }
  .mid_header_left h3 {
    font-size: 4.5vw;
  }
  .mid_header_left p {
    font-size: 1.7vw;
  }
  .middle_content_image {
    width: 35%;
    text-align: center;
  }
  .middle_content {
    width: 27%;
  }
  .middle_content p {
    font-size: 1.5vw;
  }
  .middle_content p+p {
    font-size: 1.2vw;
  }
  .eau_bot {
    margin-top: 2.5%;
  }
  .counts_content_img {
    width: 20%;
  }
  .counts_content p {
    font-size: 2vw;
  }
  .counts_content:hover .counts_content_img {
    transform: none;
    margin-right: 0;
  }
  .counts_content:hover p {
    transform: none;
  }
  .services {
    width: 78%;
    height: 100%;
  }
  .services_wrapper h3 {
    font-size: 4.2vw;
    margin-top: 4%;
  }
  .services_wrapper p {
    font-size: 1.8vw;
    width: 85%;
  }
  .services_wrapper summary span {
    font-size: 1.4vw;
  }
  .testimonials_item_text h3 {
    font-size: 3.15vw;
  }
  .testimonials_item_text p {
    font-size: 1.2vw;
    line-height: 1.5vw;
  }
  .testimonials_item:first-child {
    height: 65%;
  }
  .testimonials_item_people_about h3 {
    font-size: 1.8vw;
  }
  .testimonials_item_people_about p {
    font-size: 1.1vw;
  }
  #get_started {
    font-size: 1.5vw;
    padding: 1.5vw;
  }
  .team_wrapper>h3 {
    font-size: 4.5vw;
    margin-top: 3%;
  }
  .team_wrapper>p {
    font-size: 1.5vw;
    width: 55%;
    line-height: 2vw;
  }
  .team_wrapper_avatars {
    width: 65%;
    height: 58%;
    margin-top: 2.5%;
  }
  .content_avatars {
    margin-top: 12%;
  }
  .content_avatars h3 {
    font-size: 3vw;
  }
  .content_avatars p {
    font-size: 1.2vw;
    line-height: 1.6vw;
  }
  .team_links {
    width: 22%;
  }
  .contact_us_wrapper h3 {
    margin-top: 2%;
    font-size: 4.5vw;
  }
  .contact_us_wrapper p {
    font-size: 1.2vw;
    line-height: 1.7vw;
    width: 55%;
  }
  .contact_us_form {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-template-rows: repeat(8, 1fr);
    height: 65%;
    margin-top: 2%;
  }
  .contact_us_form input {
    grid-column: 1/3;
    padding-left: 3.65%;
  }
  .contact_us textarea {
    grid-row: 5/7;
  }
  .contact_us label {
    grid-column: 1;
    grid-row: 7/8;
  }
  .contact_us button {
    grid-column: 2;
    grid-row: 7/9;
    height: 65%;
  }
}
@media (max-width: 900px) {
  nav form button {
    padding: 3px 15px;
  }
  nav .logo {
    width: 20.3%;
  }
  .logo img {
    max-width: 100%;
  }
  .top_header ul {
    width: 51.15%;
  }
  .top_header ul li a {
    font-size: 1.7vw;
  }
  .top_header form {
    width: 8.67%;
  }
  .top_header form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 1.5vw;
  }
  .testimonials_item_people_avatar {
    width: 70%;
  }
  .testimonials_item_people_avatar img {
    max-width: 100%;
  }
}
